/* Logout.css */

.logout-button {
    padding-right: 5px;
    position: relative;
    z-index: 100; /* Initial z-index */
    transition: transform 0.3s ease; /* Smooth transition effect */
}

.logout-button:hover {
    transform: translateY(-5px); /* Move the button 5px up on hover */
    z-index: 2; /* Increase z-index on hover to ensure it's above other elements */
}
